{% extends "layout/base.html.jinja2" %}
{% block title %}
職能發展學院-課程規劃
{% endblock %}

{% block link %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/classes.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock%}

{% block main %}

<div class="course-tabs">
        <div class="tab-container">
        {% for kind in kinds%}     
          <a href="/classes/{{'一般課程' if loop.first else '進階課程'}}"><button class="tab-item {{'active' if loop.first}}">{{kind}}</button>
        {% endfor %}
        </div>
        <div class="tab-line"></div>
</div>
<section class="testimonial-grid">
  <div class="card-grid">
  {%for course in course_data%}
    
      <div class="card">
        <p class="group">{{course[0]}}</p>
        <h2 class="title">{{course[1]}}</h2>
        <div class="details">
            <div class="line"></div>
            <ul>
                <li>進修人數:{{course[2]}}</li>
                <li>進修時數:{{course[3]}}</li>
                <li>進修費用:{{course[4]}}</li>
                <li>上課時間:{{course[5]}}</li>
                <li>開始日期:{{course[6]}}</li>
            </ul>
        </div>
    </div>
    {% endfor %}

    

  </div>
</section>
<script src="{{ url_for('static',filename='js/classes.js')}}"></script>
{% endblock %}