{% extends "layout/base.html.jinja2" %}
{% block title %}
smart設計學院-首頁
{% endblock %}

{% block link %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}